.workspacesDiv{
    width: 22rem;
    height: 18rem;
    border-radius: 16px;
    background-color: #FFFCE6;
    overflow-y: auto; 
    border: 1px solid #ced4da;
}
.workspaceTag{
    margin-left: 1rem; 
    border: 1px solid #ced4da;
    margin-top: 1rem;
    width: 18rem;
    height: 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
}
.workspaceImage{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-left: 1rem;
}
.workspaceName{
    font-size: 1.5rem;
    color: gray;
}
.workspacesHeader{
    margin-bottom: 2rem;
}
.mainDiv{
    display: flex;
    flex-direction: row;
    margin-top: 3rem; 
    justify-content: center;
}

#joinDiv{ 
    width:30%; 
    margin: 5rem;
} 
.joinWorkspaceTile {
    text-align: center;
} 
.workspacesWrapper {
    margin: 5rem;
} 
.joinWSBtn {
    background-color: #FFEB3B; 
    color: black; 
    display: flex;
    margin: 0 auto; 
    border-radius: 15px;
    height: 55px; 
    width: 200px;
    justify-content: center; 
    margin-bottom: 0.7rem;
    margin-top: 4rem;
} 
.createLink {
    color: black;
    text-decoration: underline; 

} 
.createLink:hover{
    background-color: none;
}  
.wsNameLink{
    
}
#joinDiv{
    margin-left: -5rem;
    margin-right: -6rem;
}
.NoworkspaceHeader{
    margin-top: 10rem;
    margin-left: 19rem;
    margin-bottom: 4rem;
}
.createWorkspace{
text-decoration: none;
padding: 0rem;
height: 0rem;
margin-left: 5rem;
}
.createWorkspace:hover{
    text-decoration: none;
    /* background-color: white; */
    padding: 0rem;
    }
.wsNameLink:hover {
   text-decoration: none; 

}
