.whyzewwDiv{
    background-image: radial-gradient(rgb(212, 107, 2),rgb(189,189,189), rgb(218, 201, 49));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 6rem;
    font-family: 'Lato', sans-serif;
}
#whyHeader{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4rem;
    padding-top: 3rem;
    margin-left: -59rem;
}
.title{
    color:white;
    font-size: 25px;
}
.title i{
    color: #FFEB3B;
    font-size: 50px;
    margin-left: 1.2rem;
}
#description{
    color: white;
}