  .NameTags {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
    height: 3rem;
  }
  
  .titleComponent {
    margin-left: 1rem;
  }
  
  .UserName {
    color: #B7B7B7;
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: normal;
  }

  .NameTags:hover {
    background-color: #FFEB3B;
  }
  
  .notificationHolder
  {
    color: black;
    font-weight: bolder; 
    background-color: red;
    border-radius: 50%;
    margin:1rem;
    padding: 0.2rem;
  }